{% extends 'base.html' %} {% block content %}
<h2>Thoughtful</h2>
<p class="lead">We provide strength to the thoughts of every individual.</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda deleniti
  veniam incidunt voluptate laborum beatae tenetur voluptatibus non ipsam
  molestiae!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo dolores illum,
  fuga ipsam laboriosam dolor veritatis magni sint neque, quae recusandae vitae,
  blanditiis sequi culpa doloribus! Quibusdam animi beatae molestiae.
</p>
<blockquote class="blockquote text-center">
  <p class="mb-0">
    It takes but one positive thought when given a chance to survive and thrive
    to overpower an entire army of negative thoughts.
  </p>
  <footer class="blockquote-footer">
    <cite title="Source Title">Robert H. Schuller</cite>
  </footer>
</blockquote>
{% endblock %}
