{% extends 'base.html' %} {% block content %}
<form action="{% url 'compose' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      &nbsp; What's in your head today?
    </label>
    {% if error %}
    <p>
      <strong>Error</strong>
      : {{error}}
    </p>
    {% endif %}
    <textarea
      class="form-control"
      id="post-content"
      name="post-content"
      rows="7"
    ></textarea>
    <br />
    <button class="btn btn-success" type="submit">Post</button>
  </div>
</form>
{% endblock %}
