{% extends 'base.html' %} {% block content %}
<form class="form-inline" id="search_user_form" style="margin-top: 2%;">
  <input
    class="form-control mr-sm-2 w-75 p-3"
    type="search"
    id="search_box"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" id="search_user_btn">
    Search
  </button>
  <div class="card search-card">
    <div class="card-body">
      <ul class="list-group list-group-flush" id="results">
        <li class="list-group-item">Find your friends</li>
      </ul>
    </div>
  </div>
</form>
{% endblock %}
