{% extends 'base.html' %} {% block content %} {% for post in posts %}
<div class="card custom-card shadow">
  <div class="card-body">
    <h5 class="card-title">
      <a
        href="http://localhost:8000/explore/{{ post.Author }}"
        style="text-decoration: none;"
      >
        @{{ post.Author }}
      </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      on {{ post.Date }} at {{ post.Time }}
    </h6>
    <p class="card-text">{{ post.Content|linebreaks }}</p>
    <a href="#" class="card-link">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      Like
    </a>
    <a href="#" class="card-link text-success">
      <i class="fa fa-comment" aria-hidden="true"></i>
      Comment
    </a>
    <a href="#" class="card-link text-danger">
      <i class="fa fa-share" aria-hidden="true"></i>
      Follow
    </a>
  </div>
</div>
{% empty %}
<h3>Nothing to show. Follow others to see there posts here.</h3>
{% endfor %} {% endblock %}
